.active {
    background-color: red;
    color: #fff;
  }

  .btn {
    width: 200px;
    height: 70px;
    border: 1px solid rgba(14, 122, 129, 0.15);
    border-radius: 16px;
    background: white;
    font-size: 24px;}
    
    .category-icon {
        width: 35px;   
        height: 35px;  
      }